    </main>
    <footer class="footer">
      <p>
        Linkedin :
        <a href="https://in.linkedin.com/in/rashid-ahmed-siddiquee-002072325" target="_blank" rel="noreferrer">Rashid Ahmed Siddiquee</a>
        <img src="/heart.svg" alt="" />
      </p>
      <p>
        Made with Love |
        <img src="/star.svg" alt="" />
        <a href="https://github.com/Rashid9578" target="_blank" rel="noreferrer">Github</a>
      </p>
    </footer>
    <script src="/app.js"></script>
  </body>
</html>
